<footer> 
    <div>
        <p id="footer p-0">CST336 Internet Programming. 2026© Aryll Pacheco</p>
        <p id="footer p-0">Disclaimer: The information on this site is fictious.</p>
        <p id="footer p-0">It is used for academic purposes only.</p>
    </div>
</footer>